* {
	@include box-sizing(border-box);
}
*:before,
*:after {
	@include box-sizing(border-box);
}


// Body reset

html {
	min-width: 1280px;
	min-height: 100%;
	position: relative;
	-webkit-tap-highlight-color: rgba(0,0,0,0);
}


body {
	min-height: 100%;
	color: #3f4348;
	font-weight: 300;
	font-style: italic;
	background-color: #2b323c;
	font-family: $font-base;
	font-size: $font-size-base;
	line-height: $line-height-base;
}


// Reset fonts for relevant elements
input,
button,
select,
textarea {
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}


// Links

a {
	color: #3f4348;
	text-decoration: underline;

	&:hover,
	&:focus {
		outline: none;
		text-decoration: none;
	}

}


// Headings

h1, h2, h3, h4 {
	margin: 0;
	padding: 0;
	font-weight: 300;
}

h1 {
	font-size: 31px;
	line-height: 31px;
	margin-bottom: 25px;
	position: relative;
	text-transform: uppercase;

	&.title-line {
		padding-bottom: 25px;

		&:before {
			left: 0;
			bottom: 0;
			content: '';
			width: 495px;
			position: absolute;
			border-bottom: 1px solid #dbdbdb;
		}
	}
}

h4 {
	font-size: 22px;
	line-height: 25px;
	margin-bottom: 15px;
}

p {
	padding: 0;
	margin: 0 0 20px 0;
}

strong {
	font-weight: 600;
}

ul {
	margin: 0;
	padding: 0;
	list-style: none;
}
